
body{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}

.mu{
    color: white;
    text-decoration: none;
}

.header-section{
    background-color: #31b44b;
    height:50px;
}
.header-menu{
    height: 50px;
}

.header-menu1{
    height: 80px;
}
.menu-bar{
    background-color: white;
    height: 80px;
}

.navbar-nav{
    display: flex;
    flex-direction: row!important;
}



.header-text{

    justify-content: end;
}
.menu-custom{
    padding-left:40px;
}
.menu1{
    color:#2c3e50!important;
    font-size: 16px;
}
.menu1:hover{
    color: #65c778 !important;
}
.menu2{
    color: white!important;
}

.BOOKING-COSTOM{
    background-color: #31b44b;


}

.nav-custom{
    color: white !important;
  background-color: #ec2028!important;
    border:2px solid white !important;
   

}
.nav-tabs .nav-link.active{
    background-color: #31b44b!important;
    border: none!important;
}



.hero-section{
background-image:url(/img/hero-img.jpg);
height:800px;
background-position: center;
background-repeat: no-repeat;
    
}

.carousel-caption{
    top: 20% !important;
}


.customH{
    height:800px;
    display: flex;
    align-items: center;
}
.hero-o{
    height: 764px;
}
.hero-content1{
    font-size:14px;
    color:#2c3e50;
}
.hero-content2{
    font-size: 36px;
    color:#2c3e50;

}

.tb-costum{
    margin-bottom: -50px;
    border-bottom: none!important;
}
.carousel-custom{
    z-index:-10 !important;
}

.hero-content3{
    color: #2c3e50;
}
.btn1{
    font-size: 14px;
    font-weight:bold;
    color:#ec2028;
    background:none;
    width: 170px;
    height: 50px;
    text-align: center;
    border:1px solid #ec2028;
    border-radius:25px;
    z-index: 9999999999999999999999999999999999999;

}
.btn1:hover{
    background-color: #ec2028;
    color: #ffffff;
}
.btn2{
    font-size: 14px;
    font-weight:bold;
    color:#ec2028;
    background: none;
    width: 170px;
    height: 50px;
    text-align: center;
    border:1px solid #ec2028;
    border-radius:25px;
    margin-left:30px;
}
.hero-content{
    position: absolute !important;
}
 .book-section{
    height:730px;
    padding:120px 0px;
    background-color:#ffffff;
}
.book-content1{
    font-size:36px;
    font-weight: bold;
    color:#2c3e50;
    margin-bottom:40px;

}
.book-content2{
    color: #2c3e50;
    margin-bottom:60px;
}

.icon-custome{
    height:160px;
    width: 160px;
    border-radius:50%;
    background-color: #edf2f6;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconDesign{
    width:40px !important;

    
}
.card-custome{
    border: none!important;
}


.card-img-top2{
    width: 170!important;
}
.card-img-top3{
    width:110!important;
}

.card-bg{
    background-color: #f7f7f7!important;
}
.fighter-section{
    height:932px;
    background-color: #f7f7f7;
    padding: 120px 0;
}
.fighter-content{
    font-size: 36px;
    color:#2c3e50;
    font-weight: bold;
    margin-bottom: 40px;

}
.fighter-content1{
    color: #2c3e50;
    margin-bottom:60px;
    line-height:25px;
}
.card-img-top4{
    height:450px !important;
  
    
}
.cud{
    background-color:#31b44b;
    padding: 20px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius:5px;
     color: white;
}
.content-bottom{
    font-size: 18px;
    font-weight:400;
}
.bo{
    font-size:14px;
    font-weight: 400;
}
.content-bottom1{
    background-color:#2c3e50;
    padding:18px 0px;
    padding-left:30px;
    color:white;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
}
.asd{
    height: 77px;
    width: 100%px;
    background-color:#31b44b ;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
}
.nd-card{
    background-color: #2c3e50;
    position: absolute;
    padding:7px 0px;

    border-radius: 5px;
    color: white;
    top: 8px;
   
    right:8px;
    width: 120px;
}
.kum{
    font-size:14px;
    font-weight:400;
}

.b-custome{
    height:16px;
    width:16px;
    border-radius:50%;
    
    background:none;
    border: 1px solid #ec2028;
    margin-left:5px;
}
.b-custome:focus{
    background-color:#ec2028;
    outline:none;
   
}
.bdc{
    margin-top: 60px;
}
.hotel-content{
    font-size:36px;
    font-weight: bold;
    color:#2c3e50;
    margin-bottom:40px;

}
.hotel-content1{
    color: #2c3e50;
    margin-bottom:60px;
}
.hotel-section{
    height:2040px;
    background-color: #ffffff;
    padding: 120px 0;
}
.card-img-top5{
    height: 400px;

}
.second-card{
    margin-top: 3px!important;
}
.special-section{
    height: 920px;
    background-color: #ffffff;
    padding: 120px 0;
}
.card-img-top6{
    height: 410px;
}
.sp-btn{
    margin-top:60px;
}
.sp-content{
    margin-top: 120px;
}
.people-section{
    height:810px;
    background-color: #f7f7f7;
    padding:120px 0;
}
.people-content{
    font-size: 18px;
    color: #2c3e50 ;
    font-weight: bold;
}
.people-content2{
    color:#2c3e50;
    font-size:16px;
    font-weight:lighter;
}
.card-img-top7{
width:150px!important;
}
.footer-section{
    height: 470px;
    
    background-color: #1d2b37;
    padding-top:100px;
}
.circle{
    height:76px;
    width:76px;
    border-radius:50%;
    background-color: #31b44b;
    margin-left:30px;
    margin-top:-32px;
    position: absolute;

top: 0;


}
.circle-1{
position: relative;
border: none!important;
}

.content1{
    color:#ffffff;
    font-size:14px;
}
.content1:hover{
 color: #748494 ;
}
.content4{
    color:#ffffff;
    font-weight: bold;
    margin-bottom: 30px;
}
.con-follow{
    margin-top:30px;
}
.content5{
    list-style:none;
    color: #ffffff;
    padding-bottom: 20px;

}
.content6{
    color: #ffffff;
    
}
.content6:hover{
    color: #748494;
    font-size:14px
    

}

.Email-Address{
    font-weight: bold;
    font-size:14px;
    color:#748494; 
    padding-left:30px;
    height:50px;
    background-color:#263440;
    border:none;
}
.btn-subscribe{
    height: 50px;
    width: 100px;
    background-color:#31b44b;
    border:none;
    border-top-right-radius:7px;
    border-bottom-right-radius: 7px;
    color: #ffffff;
    font-size: 14px;
    margin-left:-5px;
}

.footer-content{
    font-size: 14px;
    color: white;
    margin-bottom:50px !important;

}
.font-icon{
    font-size:26px;
    color:white;
    padding-right:25px;
    margin-bottom:30px;
}
.font-icon1{
    font-size:42px;
    color:white;
    padding-right:25px;
    margin-bottom:75px;
}


  

   

   
         
      
   


.input-group-text{
    color: white !important;
    background-color:darkred!important;
}





  







.cumtomee{
    margin-top: -50px !important;
    z-index: 66688888888888;
}